.Border1{
    border-bottom: 1px solid rgb(204, 238, 252);
    margin-bottom: 30px;
}
.ulFlex{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    color: rgb(204, 238, 252);
}
.flexCarrito{
    display: flex;
    align-items: center;
}